<div class="task task-list-item">
    <div class="task-cover">
        <img src="https://placehold.co/1280x780.png/#269fe6" alt="task">
    </div>
    <div class="task-name-container">
        <a href="{% url 'tasks:task' 1 %}">
            <h2 class="task-name">taskLorem ipsum dolor sit amet consectetur adipisicing elit. Quo sunt distinctio</h2>
        </a>
    </div>
    <div class="task-discipline">
        <span class="task-discipline-item"><i class="fa-solid fa-book"></i>
            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </span>
        <span class="task-discipline-item"><i class="fa-solid fa-calendar-days"></i>
            11/05/2023
        </span>
    </div>
    <div class="task-subject">
        <a href="{% url 'tasks:task' 1 %}">
            <p class="text-subject">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sunt distinctio, recusandae quibusdam autem
                fuga voluptas voluptatem dolores rem eius veritatis doloribus beatae? Exercitationem veniam quasi modi,
                itaque blanditiis repudiandae!
            </p>
        </a>
    </div>
    <div class="task-meta-container">
        <div class="task-meta task-term">
            <h3 class="task-meta-title"><i class="fa-solid fa-calendar-days icon"></i>Term</h3>
            <div class="task-meta-text">
                11/05/2023
            </div>
        </div>
        <div class="task-meta task-completed">
            <h3 class="task-meta-title"><i class="fa-solid fa-check icon"></i>Completed</h3>
            <div class="task-meta-text">
                11/06/2023
            </div>
            {% comment %}
            <h3 class="task-meta-title"><i class="fa-solid fa-xmark icon"></i>Not Completed</h3>
            <div class="task-meta-text">
                Undated
            </div>
            {% endcomment %}
        </div>
    </div>
    {% if is_detail_page is not True %}
        <footer class="task-footer">
            <a href="#" class="button button-dark button-full-width">
                <i class="fa-solid fa-pen-to-square"></i>
                <span>Edit</span>
            </a>
        </footer>
    {% endif %}
    {% if is_detail_page is True %}
        <div class="task-description">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo sunt distinctio, recusandae quibusdam autem
                fuga voluptas voluptatem dolores rem eius veritatis doloribus beatae? Exercitationem veniam quasi modi,
                itaque blanditiis repudiandae!
            </p>
        </div>
    {% endif %}
</div>